html{
     height: 100%;
     }

body{
     height: 100%;
     width: 100%;
     }
  
   h3 {
      text-indent: 17%;
      font-family: sans-serif;
      font-size: xx-large;
  }

   .form1{
   width: 900px;
   height: 400px;
   position: relative;
   left: 17%;
   font-family: sans-serif;
   font-size: x-small;
  }
  
   .form1 h1{
     font-size: large;
     top: 5%;
     }

   .form1 .email{
     width: 350px;
     height: 35px;
     border-radius: 8px;
     border: 1px rgb(120,120,120) solid;
      }

   .form1 .phone {
      width: 350px;
      height: 35px;
      border-radius: 8px;
      border: 1px rgb(120,120,120) solid;
     }
 
   .form2{
      width: 900px;
      height: 400px;
      position: relative;
      left:17%;
      top: -27%;
      font-family: sans-serif;
      font-size: x-small;
     }

   .form2 b {
     font-size: large;
      }

   .form2 .fullname {
     width: 350px;
     height: 35px;
     border-radius: 8px;
     border: 1px rgb(120,120,120) solid;
    } 

   .form2 .address{
      width: 350px;
      height: 35px;
      border-radius: 8px;
      border: 1px rgb(120,120,120) solid;
     }

   .form2 .city{
      width: 350px;
      height: 35px;
      border-radius: 8px;
      border: 1px rgb(120,120,120) solid;
     }

   .form2 .countryy .country{
      width: 170px;
      height: 35px;
      border-radius: 8px;
      border: 1px rgb(120,120,120) solid;
     }

   .form2 .postalcode{
      width: 170px;
      height: 35px;
      border-radius: 8px;
      border: 1px rgb(120,120,120) solid;
     }  

     .objects {
       width: 250px;
       height: 350px;
       position: relative;
       top: -103%;
       left: 50%;
       overflow: hidden;
       border-radius: 10px;
       background-color: rgb(241, 237, 237);
       border: 10px rgb(241,237,237) solid;
       margin-top: 0px;
       }

     .objects .img1{
      float: left;
      position: relative;
      top: 20px; left: 20px;
      width:100px;
      height:100px;
      border-radius:10px;
     }

     .objects .img2{
      float: left;
      position: relative;
      top: -10px; left: 20px;
      width:100px;
      height:100px;
      border-radius:10px;
     }

     .objects h1{
      position: relative;
       top: -20px; left: 30px;
       font-size: medium
     }

     .objects .p1 {
       float: left;
       position: relative;
       top: -12%; left: 13%;
       }
          
     .objects .p2 {
       float: left;
       position: relative;
       top: -8%; left: 13%;
       }

     .objects .p2 {
        float: left;
        position: relative;
       }

       .checkboxx{
        position:relative;
        top: -91%;
        }

     body .button {
       position: relative;
       top: -90%; left: 28.5%;
       height: 35px; width: 100px;
       border-radius: 10px;
       background-color: rgb(243, 139, 21);
       border: 1px rgb(120,120,120) solid;
     }
      
     al
      
   
