html{
     height: 100%;
     }

body{
     height: 100%;
     width: 100%;

     }
  
   h3 {
      text-indent: 16.5%;
      font-family: sans-serif;
      font-size: xx-large;
  }

   .form1{
   width: 900px;
   height: 400px;
   position: absolute;
   left:18%;
   top:20%;
   flex-wrap: wrap;
   justify-content: center;
  }
  
   .form1 h1{
     font-family: sans-serif;
     font-size: medium;
     top: 5%;
     }

   .form1 .eemail{
     font-family: sans-serif;
     font-size: x-small;
     }

   .form1 .email{
     width: 350px;
     height: 35px;
     border-radius: 8px;
     border: 2px rgb(120,120,120) solid;
      }

   .form1 .pphone {
     font-family: sans-serif;
     top: 5%;
     }

   

  .objects img{
      width:100px;
      height:100px;
      border-radius:10px;
  }

   .contenedor-all .tarjeta-lados h1{
      font-family: 'century gothic';
      color: #BD36CA;
  }
  
  .contenedor-all .tarjeta-lados p{
    font-family: 'century gothic';
    text-align:center;
    font-size:10px;
  }
  .contenedor-all .tarjeta-lados h2{
    font-family: 'century gothic';
    text-align:center;
    color: #BD36CA;
    font-size:40px;
  }
  .contenedor-all .tarjeta-medio{
    top: 6%;
    position: relative;
    background-color: white;
    width: 230px;
    height: 360px;
    border-radius: 8px;
    overflow:hidden;
    text-align: center;
    border: 1px rgb(85,85,85) solid;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  }
  
  .contenedor-all .tarjeta-medio img{
      width:100px;
      height:100px;
      border-radius:70px;
  }
  .contenedor-all .tarjeta-medio h1{
    font-family: 'century gothic';
    color: #BD36CA;
  }
  
  .contenedor-all .tarjeta-medio p{
    font-family: 'century gothic';
    text-align:center;
    font-size:10px;
  }
  .contenedor-all .tarjeta-medio h2{
    font-family: 'century gothic';
    text-align:center;
    color: #BD36CA;
    font-size:40px;
  }
  